body{
    font-family: 'Cinzel Decorative';
    background-color:  #301502;
}



  .navbar {
    background-color: #8B4513;
}


.navbar-toggler{
    background-color:  #8B4513;
    border: none;
    padding: 0.25rem 0.5rem; /* Adiciona um espaçamento interno ao ícone */
}

/* Estilo para remover a borda preta que aparece ao clicar no ícone do menu hambúrguer */
.navbar-toggler:focus {
    outline: none; /* Remove o contorno ao focar */
    box-shadow: none; /* Remove a sombra ao focar */
}

.nav-projetos .nav-link.active,
#fale-conosco button{
    background-color: #8B4513;
    color: #fff;
}

#cabecalho .nav-link.active{
    background-color: #fff;
}

.carousel-item img {
    width: 100%;
   
    height: 400px; /* Altura desejada */
    object-fit: cover;
}

section p {
    font-family: 'Roboto', sans-serif;
    color:  #D2B48C;/* Um tom claro que lembra a cor da madeira */
    font-size: 15px;
}

footer p{
    color: #CDC090;
}
@media (max-width: 767px) {
    .carousel-item img {
        height: 30vw; /* Utilizando a unidade 'vw' (viewport width) para tornar a altura proporcional à largura da tela */
        max-height: 280px; /* Definindo uma altura máxima para garantir que as imagens não fiquem muito grandes em dispositivos com telas muito largas */
        object-fit: cover; /* Garantindo que a imagem cubra todo o espaço do contêiner */
    }
}
